.status {
    padding: 1em;
    text-align: center;
    background: white;
    justify-content: center;
}

.empty-results, .no-successful-update, .timestamp {
    background-color: transparent;
    color: white
}

.successful {
    background-color: #388729;
}

.failed {
    background-color: #c41934;
}

.running {
    background-color: #1857B8;
}

.passed-with-warnings {
    background-color: #fa6400;
}

.cancelled, .waiting-for-resource {
    background-color: #e0b400;
}

.statuses {
    width: 100%;
    display: grid;
    grid-column-gap: 0.4em;
    grid-row-gap: 0.4em;
    grid-template-columns: repeat(auto-fit, minmax(11em, 10fr));
}

a {
    text-decoration: none;
    color: black;
}

html {
    height: 100%;
    font-family: Noto Sans, Arial, sans-serif;
    background: black;
}

body {
    margin: 0;
    padding: 8px
}