@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,900);

.status {
    padding: 1em;
    text-align: center;
    background: white;
    justify-content: center;
    display: grid;
}

.status::before {
    content: "";
    padding-bottom: 60%;
    display: block;
}

.status::before, .status > div {
    grid-area: 1 / 1 / 2 / 2;
}

.status > div {
    margin: auto;
}

.empty-results, .no-successful-update, .timestamp {
    background-color: transparent;
    color: white;
}

.timestamp {
    line-height: 1.2;
    font-size: smaller;
}

.timestamp.cancelled {
    color: black;
}

.successful {
    background-color: #388729;
}

.failed {
    background-color: #c41934;
}

.running {
    background-color: #1857B8;
}

.passed-with-warnings {
    background-color: #fa6400;
}

.cancelled {
    background-color: #e0b400;
}

.pending, .preparing, .scheduled, .waiting-for-resource, .created {
    background-color: #8936b2;
}

.statuses {
    width: 100%;
    display: grid;
    grid-column-gap: 0.4em;
    grid-row-gap: 0.4em;
    grid-template-columns: repeat(auto-fit, minmax(11em, 10fr));
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

html {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: #0b0c0e;
}

body {
    margin: 0;
    padding: 8px
}
