@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,900);

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.status > div > p:first-child {
    margin-bottom: 0;
}

p.textual-status {
    font-weight: normal;
    font-size: smaller;
    margin-top: 0;
}

a.no-color > div {
    background-color: white;
    padding: 5px;
}

html {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: #0b0c0e;
}

body {
    margin: 0;
    padding: 8px
}

.status {
    padding: 1em;
    text-align: center;
    justify-content: center;
    display: grid;
}

.status.no-color {
    border: 1px solid white;
}

.status::before {
    content: "";
    padding-bottom: 60%;
    display: block;
}

.status::before, .status > div {
    grid-area: 1 / 1 / 2 / 2;
}

.status > div {
    margin: auto;
}

.empty-results, .no-successful-update, .timestamp, .link-to-jobs, .subgroup-name, .link-control {
    background-color: transparent;
    color: white;
}

.timestamp, .link-to-jobs, .link-control {
    line-height: 1.2;
    font-size: smaller;
}

a.link-to-jobs, a.link-control {
    font-weight: normal;
}

.successful {
    background-color: #388729;
}

.failed {
    background-color: #c41934;
}

.running {
    background-color: #1857B8;
}

.skipped, .passed-with-warnings, .manual {
    background-color: #fa6400;
}

.cancelled {
    background-color: #e0b400;
}

.pending, .preparing, .scheduled, .waiting-for-resource, .created {
    background-color: #8936b2;
}

.unknown {
    background-color: white;
}

.statuses {
    width: 100%;
    display: grid;
    grid-column-gap: 0.4em;
    grid-row-gap: 0.4em;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(11em, 10fr));
}

.statuses-grouped {
    width: 100%;
    display: grid;
    grid-column-gap: 0.4em;
    grid-row-gap: 0.4em;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(11em, 10fr));
    margin-bottom: 0.4em
}

.icon-box {
    overflow-y: hidden;
}

.controls {
    padding-top: 8px;
}

.status-content {
    z-index: 1;
}

.status-content > p {
    margin-top: 0;
    margin-bottom: 0;
}
