name: Build

on: push

jobs:
  ormolu:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: haskell-actions/run-ormolu@v17
  build:
    name: Build
    runs-on: ubuntu-24.04
    needs: ormolu
    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        name: Cache ~/.stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('**/stack.yaml','**/stack.yaml.lock','**/package.yaml') }}-v2
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-
      - uses: haskell-actions/setup@v2.8.2
        with:
          ghc-version: "9.4.8"
          enable-stack: true
          stack-version: "3.5.1"

      - name: Install dependencies
        run: stack --no-terminal --install-ghc test --only-dependencies

      - name: Build executable
        run: stack build --system-ghc --test --coverage --copy-bins --local-bin-path .

      - uses: actions/upload-artifact@v5
        with:
          name: gitlab-ci-build-statuses-exe
          path: gitlab-ci-build-statuses-exe

  markdown:
    name: Markdown lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Markdown Lint
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          config: ".markdownlint.json"
          args: "."

  docker:
    name: Docker build & push
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: actions/download-artifact@v5
        with:
          name: gitlab-ci-build-statuses-exe

      - uses: docker/setup-buildx-action@v3.11.1
        name: Set up Docker Buildx

      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v3
      #   with:
      #     platforms: arm64

      - uses: docker/login-action@v3
        name: Login to DockerHub
        if: github.ref == 'refs/heads/main'
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5.8.0
        with:
          images: l7r7/gitlab-ci-build-statuses
          flavor: |
            latest=true
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=semver,pattern={{version}}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          platforms: linux/amd64 # ,linux/arm64

      - name: Image digest
        if: github.ref == 'refs/heads/main'
        run: echo ${{ steps.docker_build.outputs.digest }}
